body{
margin: 0;
background-color:#111;
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align: center;
}

header{
padding: 20px;
}

h1{
    margin: 0;
}

.grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
padding: 20px;
max-width: 1000px;
margin: auto;
}

.card{
background-color: #1a1a1a;
border-radius: 10px;
padding: 15px;
transition: transform .5s;
}

.card:hover{transform: scale(1.05);}


.disc img{
width: 100%;
border-radius: 50%;


}
.artist{
font-weight: bold;
margin-top: 10px;
}

#duki-discoImage{
    width: 72%;
}

.card-duki{
    display: block;
    background-color: #3a3a3a;
    margin: 20px;
    border-radius: 20px;
    border: black solid 5px;
}

.duki-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.card-duki-child{
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-duki-child-info{
    width: 40%;
    margin: 80px;
}
.card-duki-child P{
    width: 90%;
    text-align: left;
}

.card-duki-child img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#imagen-duki{
    width: 85%;
}

.canciones-lista {
  list-style: none;
  padding-left: 55px; 
  margin-top: 10px;
  text-align: left;
  width: 90%;
}